div.card:hover img{
    opacity: 0.6;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
div.card:hover img{
    transition: all 0.3s;
}
div.card:hover div.top-item-hidden{
    display: block;
}
div.card{
    overflow: hidden;
}
div.top-item-hidden{
    background-color: red;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    position: absolute;
    top: 80px;
    left: 75px;
    display: none;
}
div.top-item-hidden span{
    position: absolute;
    top: 15px;
    left: 15px;
}