div.action button{
    margin-left: 50px;
}
div.action button:hover{
    color: #79716c;
}
div.items:hover{
    background-color: #efefef;
}
div.items{
    position: relative;
}
div.item-hidden span{
    font-size: 18px;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #c745dd;
    line-height: 25px;
    text-align: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top:13px;
    left:13px;
}
div.item-hidden{
    display: none;
}
div.items:hover> div.item-hidden{
    display: block;
}