div.jumbotron{
    padding-bottom: 20px;
    padding-top: 20px;
}
div.jumbotron-top100 img{
    width: 150px;
    height: 150px;
}
ul.list-song-scroll{
    height: 400px;
    overflow-y: scroll;
}
div.list-song ::-webkit-scrollbar {
    width: 8px;
}
div.list-song ::-webkit-scrollbar-thumb {
    background: #826e6d;
    border-radius: 10px;
    height: 10px;
}
div.list-song ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}
div.info-care div.row:hover{
    background-color: #b6b0b5;
    border-radius: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
}