div.header-content{
}
div.info{
    cursor: pointer;
    margin-left: 50px;
    z-index: 10;
}
div.detail{
    width: 200px;
    position: absolute;
    border:1px solid #ececec;
    top:48px;
    right:10px;
    padding-left: 20px;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 1s ease-out;
    background-color: white;
}
div.detail div{
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
}
div.info:hover div.detail{
    display: block;
    max-height: 300px;
}