div#carouselExampleIndicators-Top100 div.card:hover img{
    opacity: 0.6;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
div#carouselExampleIndicators-Top100  div.card img{
    transition: -webkit-transform 1.5s;
    max-width: 100%;
}
div#carouselExampleIndicators-Top100 div.card:hover div.top-item-hidden{
    display: block;
}
div.card{
    overflow: hidden;
}
div.top-item-hidden{
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
div.top-item-hidden span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
div.card:hover div.top-item-hidden{
    display: block;
}
nav.pl-200{
    padding-left: 200px;
}
a.navbar-brand{
    color: orangered;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 32px;
}
a.navbar-brand span{
    font-family: Arial, cursive;
    display: table-cell;
    /*animation: animate 0.4s linear infinite;*/
}
@-webkit-keyframes animate{
    0%, 100%{
        color: red;
        -webkit-filter: blur(2px);
    }
    5%, 95%{
        color: yellow;
        -webkit-filter: blur(0px);
    }
}
li.nav-item{
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
}

div.content{
    padding-bottom: 80px;
}
div.content>div.container{
    padding: 30px;
}
div.zingchart-tuan{

}
div.zingchart-tuan div.card{
    position: relative;
    /*overflow: hidden;*/

}
div.zingchart-tuan div.card img{
    max-width: 100%;
    transition: transform 1s;
}
div.zingchart-tuan div.card img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
div.play-hidden{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    position: absolute;
    top: 12px;
    left: 28px;
    display: none;
}
div.play-hidden > span{
    position: absolute;
    top: 5px;
    left: 7px;
}
div.item-song{
    margin-bottom: 30px;
}
div.item-song:hover div.play-hidden{
    display: block;
}
div.item-song:hover{
    background-color: rgba(144, 134, 123, 0.1);
    margin:0px;
    padding: 3px 0px 3px 0px;
    border-radius: 3px;
    opacity: 0.9;
}
div#carouselExampleIndicators-nghesi div.card{
    border-radius: 50%;
}

div#playMusic div#left{
    background-color: #efefef;
}
div#playMusic audio{
    height: 30px;
    width: 100%;
}
div#playMusic source{
    border-radius: 0px;
}
div#playMusic img{
    position: absolute;
    top: 4px;
    right: 20px;
    animation: rotate 10s infinite;
    display: block;
    -webkit-animation: rotate 10s linear infinite;
}
img#img{
    animation: rotate 10s infinite;
    display: block;
    -webkit-animation: rotate 10s linear infinite;
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
div#playMusic{
    position: absolute;
    width: 100%;
    position: fixed;
    z-index: 100;
    bottom: 0px;
}
div.list-button button{
    height: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
div.list-button button:hover{
    background-color: #b6b0b5;
}
div.listSong{
    height: 100vw;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 600px;
    z-index: 20;
    left:100px;
    top:0px;
    margin:auto;
    position: fixed;
    padding: 0px;
    display: none;
}
div.content-listSong div.row{
    text-align: center;
    line-height: 30px;
}
div.content-listSong{
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
div.content-listSong div.row:hover{
    background-color: rgba(41, 32, 5, 0.5);
    color: white;
    border-radius: 5px;

}
div.content-listSong a{
    display: block;
}
div.content-listSong a:nth-child(odd){
    background-color: rgba(144, 144, 144, 0.2);
}
div.content-listSong a{
    text-decoration: none;
    color: black;
}
div.content-listSong::-webkit-scrollbar {
    width: 3px;
}
div.content-listSong::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
div.content-listSong::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
div.content-listSong::-webkit-scrollbar-thumb:hover {
    background: #555;
}
div#menu-down span:hover{
    color: #79716c;
}
