div.content-zingchart{
    border: 1px solid rgba(89, 89, 89, 0.16);
    padding: 0px;
    border-radius: 3px;
    width: 75%;
}
div.zingchart-item{
    padding: 0px 50px 0px 50px;
}
div.zingchart-item:hover{
    background-color: #efefef;
}
div.zingchart-item:hover div.icon-hidden-zingchart{
    display: block;
}
div.icon-hidden-zingchart{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    z-index: 2;
    border-radius: 50%;
    top:15px;
    left: 25px;
    display: none;
}
div.icon-hidden-zingchart> span{
    top:5px;
    left:7px;
}
